@font-face {
  font-family: "Silka Light";
  src: url('../fonts/silka-light-webfont.woff');
  src: url('../fonts/silka-light-webfont.woff2');
}

* {
  box-sizing: border-box;
  margin: 150px, 0px;
  font-family: 'Silka Light';
}

body {
  background-color: #ffffff;
  overflow: hidden;
  padding-top: 0px;
}

#detectedBox,
#notDetectedBox {
  color: #C0BABC;
  font-size: 30pt;
  text-align: center;

  width: 100%;
  padding-top: 350px;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}


.rotation {
  animation: spin 40s ease-in-out infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
