* { 
    box-sizing: border-box;
    font-family: 'Silka';
}

body { 
    overflow: hidden;
    background-color:black;
}

@font-face{ 
	font-family: "Silka";
    src: url('../fonts/silka-regular-webfont.woff');
    src: url('../fonts/silka-regular-webfont.woff2');
}

#container {
    margin: 200px 100px 0px 100px;
    display: block;
    width: 1030px;
    height: 600px;
}

/* start */
#start {
    color: #C0BABC;

    text-align: center;
    padding-top: 45px;
    vertical-align: center;
    margin: 200px auto;

    font-family: 'Silka';
    font-size: 60pt;
}

.button {
    width: 500px;
    height: 200px;
    border: solid 4px #C0BABC;
}

/* questions */
.question {
    font-size: 30pt;
    font-family: 'Silka';
    clear:both;
    color: #C0BABC;
    width: 1039px;
}

/* choices */
.choices {
    display: flex;
    margin-bottom: 230px;
    width: 1200px;
}

.choices p {
    text-align: center;
    color: #C0BABC;
    font-size: 20px;
}

/*  choices text  */
.choiceText {
    width: 120px;
    margin: 50px 30px 0px 0px;
}


.circle {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 4px solid #C0BABC;
    display: inline-block;
}

/*  choices images  */
.choiceImage {
    border: 4px solid #C0BABC;
    margin: 30px 30px 0px 0px;
}

.choiceImage > div {
    height: 200px;
}

.choiceImage img {
    width: 230px;
    height: 200px;
    object-fit: cover;
}

.choiceImage p {
    height: 30px;
    padding-top: 5px;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*  choices color  */
.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

/*  choices answers  */
.answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 1100px;
}

.choiceAnswer {
    border: 4px solid #C0BABC;
    width: 230px;
    height: 100px;
    margin: 30px 30px 0px 0px;
}

.activeImage, .activeCircle, .activeAnswer, .activeButton {
    border-color: #696969;
    background-color: #696969;
}

.row1 { padding-top: 14px; }
.row2 { padding-top: 2px; }


/*  endscreen  */
#questionBox15 {
    text-align: center;
    font-family: 'Silka';
    font-size: 60pt;
    color: #C0BABC;
    width: 1000px;
}

#questionBox15 > div {
    margin: 0 auto;
    
}

#questionBox15 p {
    color: #C0BABC;
    text-align: center;
    font-family: 'Silka';
    font-size: 30pt;
    margin: 0;
    padding-top: 20px;
}