@font-face {
  font-family: "Silka Light";
  src: url('../fonts/silka-light-webfont.woff');
  src: url('../fonts/silka-light-webfont.woff2');
}

@font-face {
  font-family: "Silka Medium";
  src: url('../fonts/silka-medium-webfont.woff');
  src: url('../fonts/silka-medium-webfont.woff2');
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: black;
}

#container {
  margin: 130px 100px 0px 100px;
  display: block;
  width: 1030px;
  height: 450px;
}


/* RESET-BUTTON TOP RIGHT */
.reset {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-family: "Silka Medium";
}

#resetButton {
  color: #A09F9F;
  font-size: 14pt;
  padding: 30px;
}


/* START  */
#homescreen {
  padding-top: 150px;
}

#start {
  color: #A09F9F;
  text-align: center;
  padding-top: 50px;
  vertical-align: center;
  margin: 0 auto;
  font-size: 60pt;
  font-family: 'Silka Medium';
}

.button {
  width: 500px;
  height: 200px;
  border: solid 4px #A09F9F;

  animation: vibrate 1.2s infinite ease-in-out;
}

@keyframes vibrate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
 
h3 {
  color: #A09F9F;
  font-size: 30pt;
  font-family: "Silka Medium";
}

/* QUESTIONS */
.question {
  font-size: 25pt;
  clear: both;
  color: #A09F9F;
  width: 1039px;
  font-family: "Silka Medium";
}

/* choices */
.choices {
  display: flex;
  width: 1200px;
  font-family: 'Silka Light';
}

.choices p {
  text-align: center;
  color: #A09F9F;
  font-size: 15pt;
}

/*  choices text  */
.choiceText {
  width: 150px;
  margin: 30px 30px 0px 0px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 4px solid #A09F9F;
  display: inline-block;
}

/*  choices images  */
.choiceImage {
  border: 4px solid #A09F9F;
  margin: 30px 30px 0px 0px;
}

.choiceImage>div {
  height: 200px;
}

.choiceImage img {
  width: 230px;
  height: 200px;
  object-fit: cover;
}

.choiceImage p {
  height: 30px;
  padding-top: 5px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*  choices answers  */
.answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
}

.choiceAnswer {
  border: 4px solid #A09F9F;
  width: 230px;
  height: 150px;
  margin: 30px 30px 0px 0px;
}

.row2 {
  padding-top: 26px;
}

.activeImage,
.activeCircle,
.activeAnswer,
.activeButton,
.activeEnd {
  border-color: #ffffff!important;
  background-color: #ffffff!important;
}

/*  ENDSCREEN  */
#backto,
#drucken {
  color: #A09F9F;
  border: solid 4px #A09F9F;
  text-align: center;
  font-size: 25pt;
  width: 500px;
  height: 200px;
  text-transform: uppercase;
  font-family: "Silka Medium";
}

#questionBox15 {
  margin-top: 215px;
}

#lastBox :nth-child(2) {
  margin-left: 30px;
  padding-top: 55px;
}

#lastBox :nth-child(1) {
  padding-top: 75px;
}

#lastBox {
  display: flex;
  padding-top: 50px;
}

/*  WEN PRINT-BUTTON GEDRUCKT  */
#printBox {
  color: #A09F9F;
  font-size: 30pt;
  margin-top: 300px;
  text-align: left;
  font-family: "Silka Medium";
}


/*  PROGRESS BAR  */
.barContainer {
  height: 80px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.defaultBar {
  width:600px;
  height: 2px;
  background-color: #404040;
}

.progressBar {
  height: 2px;
  background-color: #A09F9F;
  width: 0%;
}

